enum Locales {
  EN_US = 'en-US',
  ZH_TW = 'zh-TW',
}

export default {
  dev: process.env.NODE_ENV === 'development',
  locales: Object.values(Locales).map((locale) => {
    return {
      code: locale,
      file: `${locale}.json`,
    };
  }),
  defaultLocale: Locales.ZH_TW,
};
